.error {
padding: 2rem;
border:2px solid red;
background: rgb(255, 80, 80);
text-align: center;
text-transform: uppercase;
font-size: 1.3rem;
border-radius: 1rem;
position: relative;
margin: 3rem auto 0;
left:50%;
color:white;
transform: translateX(-50%);
display: inline-block;
}

.error-note {
  font-size: 2rem;
  opacity: .4;
  text-align: center;
  }
  .error-note:last-of-type {
    margin-bottom: 3rem;
    }

.error-img {
  height: 5rem;
  width: 5rem;
  background-size: contain;
  margin: 0 auto;
  background-image: url(./exclamation-256.png);
}

.error p {
  padding-top: 0;
  font-weight: bold;
  font-size: 1.4rem;
}