.search-box {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  padding: 1rem;
  font-size: 1.6rem;
  margin: 0;
  width: 20rem;
  text-align: left;
  background-size: 10px;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  border: 1px solid lightgray;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: white;
}

.search-box-container {
  display: flex;
  align-items: center;
}

.search-box-submit {
  background: black;
  color: white;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1rem;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  border: 1px solid lightgray;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
